<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp01</display-name>
  <welcome-file-list>
    <welcome-file>ingresarUsuario.html</welcome-file>
    <welcome-file>ingresarUsuario.htm</welcome-file>
    <welcome-file>ingresarUsuario.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.srk.pkg.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoSocio</display-name>
    <servlet-name>NuevoSocio</servlet-name>
    <servlet-class>com.srk.pkg.NuevoSocio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoSocio</servlet-name>
    <url-pattern>/NuevoSocio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoClientes</display-name>
    <servlet-name>ListadoClientes</servlet-name>
    <servlet-class>com.srk.pkg.ListadoClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoClientes</servlet-name>
    <url-pattern>/ListadoClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSocio</display-name>
    <servlet-name>UpdateSocio</servlet-name>
    <servlet-class>com.srk.pkg.UpdateSocio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSocio</servlet-name>
    <url-pattern>/UpdateSocio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update2</display-name>
    <servlet-name>Update2</servlet-name>
    <servlet-class>com.srk.pkg.Update2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update2</servlet-name>
    <url-pattern>/Update2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSocio</display-name>
    <servlet-name>DeleteSocio</servlet-name>
    <servlet-class>com.srk.pkg.DeleteSocio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSocio</servlet-name>
    <url-pattern>/DeleteSocio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlquilarVehiculo</display-name>
    <servlet-name>AlquilarVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.AlquilarVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlquilarVehiculo</servlet-name>
    <url-pattern>/AlquilarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerAlquileres</display-name>
    <servlet-name>VerAlquileres</servlet-name>
    <servlet-class>com.srk.pkg.VerAlquileres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerAlquileres</servlet-name>
    <url-pattern>/VerAlquileres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoAlquileres</display-name>
    <servlet-name>ListadoAlquileres</servlet-name>
    <servlet-class>com.srk.pkg.ListadoAlquileres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoAlquileres</servlet-name>
    <url-pattern>/ListadoAlquileres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarNuevoAlq</display-name>
    <servlet-name>ValidarNuevoAlq</servlet-name>
    <servlet-class>com.srk.pkg.ValidarNuevoAlq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarNuevoAlq</servlet-name>
    <url-pattern>/ValidarNuevoAlq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarAlquiler</display-name>
    <servlet-name>GenerarAlquiler</servlet-name>
    <servlet-class>com.srk.pkg.GenerarAlquiler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarAlquiler</servlet-name>
    <url-pattern>/GenerarAlquiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmarAlquiler</display-name>
    <servlet-name>ConfirmarAlquiler</servlet-name>
    <servlet-class>com.srk.pkg.ConfirmarAlquiler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarAlquiler</servlet-name>
    <url-pattern>/ConfirmarAlquiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoAlqClientes</display-name>
    <servlet-name>ListadoAlqClientes</servlet-name>
    <servlet-class>com.srk.pkg.ListadoAlqClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoAlqClientes</servlet-name>
    <url-pattern>/ListadoAlqClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReparacionVehiculo</display-name>
    <servlet-name>ReparacionVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.ReparacionVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReparacionVehiculo</servlet-name>
    <url-pattern>/ReparacionVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarReparacion</display-name>
    <servlet-name>RegistrarReparacion</servlet-name>
    <servlet-class>com.srk.pkg.RegistrarReparacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarReparacion</servlet-name>
    <url-pattern>/RegistrarReparacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarReparacion</display-name>
    <servlet-name>ValidarReparacion</servlet-name>
    <servlet-class>com.srk.pkg.ValidarReparacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarReparacion</servlet-name>
    <url-pattern>/ValidarReparacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarUsuario</display-name>
    <servlet-name>ValidarUsuario</servlet-name>
    <servlet-class>com.srk.pkg.ValidarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarUsuario</servlet-name>
    <url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarContraseña</display-name>
    <servlet-name>CambiarContraseña</servlet-name>
    <servlet-class>com.srk.pkg.CambiarContraseña</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarContraseña</servlet-name>
    <url-pattern>/CambiarContraseña</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AplicarContraseña</display-name>
    <servlet-name>AplicarContraseña</servlet-name>
    <servlet-class>com.srk.pkg.AplicarContraseña</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplicarContraseña</servlet-name>
    <url-pattern>/AplicarContraseña</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuevoAlquiler</display-name>
    <servlet-name>NuevoAlquiler</servlet-name>
    <servlet-class>com.srk.pkg.NuevoAlquiler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuevoAlquiler</servlet-name>
    <url-pattern>/NuevoAlquiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoAlqCltesGerente</display-name>
    <servlet-name>ListadoAlqCltesGerente</servlet-name>
    <servlet-class>com.srk.pkg.ListadoAlqCltesGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoAlqCltesGerente</servlet-name>
    <url-pattern>/ListadoAlqCltesGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RepararVehiculo</display-name>
    <servlet-name>RepararVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.RepararVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RepararVehiculo</servlet-name>
    <url-pattern>/RepararVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VolverPagppalCliente</display-name>
    <servlet-name>VolverPagppalCliente</servlet-name>
    <servlet-class>com.srk.pkg.VolverPagppalCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VolverPagppalCliente</servlet-name>
    <url-pattern>/VolverPagppalCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgendarReparacion</display-name>
    <servlet-name>AgendarReparacion</servlet-name>
    <servlet-class>com.srk.pkg.AgendarReparacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgendarReparacion</servlet-name>
    <url-pattern>/AgendarReparacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarCliente</display-name>
    <servlet-name>RegistrarCliente</servlet-name>
    <servlet-class>com.srk.pkg.RegistrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarCliente</servlet-name>
    <url-pattern>/RegistrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAlqCliente</display-name>
    <servlet-name>ListarAlqCliente</servlet-name>
    <servlet-class>com.srk.pkg.ListarAlqCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAlqCliente</servlet-name>
    <url-pattern>/ListarAlqCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelarAlquiler</display-name>
    <servlet-name>CancelarAlquiler</servlet-name>
    <servlet-class>com.srk.pkg.CancelarAlquiler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelarAlquiler</servlet-name>
    <url-pattern>/CancelarAlquiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarContrasena</display-name>
    <servlet-name>CambiarContrasena</servlet-name>
    <servlet-class>com.srk.pkg.CambiarContrasena</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarContrasena</servlet-name>
    <url-pattern>/CambiarContrasena</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AplicarNuevaCont</display-name>
    <servlet-name>AplicarNuevaCont</servlet-name>
    <servlet-class>com.srk.pkg.AplicarNuevaCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AplicarNuevaCont</servlet-name>
    <url-pattern>/AplicarNuevaCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarCont</display-name>
    <servlet-name>CambiarCont</servlet-name>
    <servlet-class>com.srk.pkg.CambiarCont</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarCont</servlet-name>
    <url-pattern>/CambiarCont</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarVehNuevo</display-name>
    <servlet-name>RegistrarVehNuevo</servlet-name>
    <servlet-class>com.srk.pkg.RegistrarVehNuevo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarVehNuevo</servlet-name>
    <url-pattern>/RegistrarVehNuevo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarVehiculo</display-name>
    <servlet-name>RegistrarVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.RegistrarVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarVehiculo</servlet-name>
    <url-pattern>/RegistrarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarVehiculo</display-name>
    <servlet-name>ValidarVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.ValidarVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarVehiculo</servlet-name>
    <url-pattern>/ValidarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarEstadoAlquiler</display-name>
    <servlet-name>CambiarEstadoAlquiler</servlet-name>
    <servlet-class>com.srk.pkg.CambiarEstadoAlquiler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarEstadoAlquiler</servlet-name>
    <url-pattern>/CambiarEstadoAlquiler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoCategorias</display-name>
    <servlet-name>ListadoCategorias</servlet-name>
    <servlet-class>com.srk.pkg.ListadoCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoCategorias</servlet-name>
    <url-pattern>/ListadoCategorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoVehiculos</display-name>
    <servlet-name>ListadoVehiculos</servlet-name>
    <servlet-class>com.srk.pkg.ListadoVehiculos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoVehiculos</servlet-name>
    <url-pattern>/ListadoVehiculos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarVehiculo</display-name>
    <servlet-name>ModificarVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.ModificarVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarVehiculo</servlet-name>
    <url-pattern>/ModificarVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarModVehiculo</display-name>
    <servlet-name>ValidarModVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.ValidarModVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarModVehiculo</servlet-name>
    <url-pattern>/ValidarModVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidarElimVehiculo</display-name>
    <servlet-name>ValidarElimVehiculo</servlet-name>
    <servlet-class>com.srk.pkg.ValidarElimVehiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarElimVehiculo</servlet-name>
    <url-pattern>/ValidarElimVehiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAlqGerente</display-name>
    <servlet-name>ListarAlqGerente</servlet-name>
    <servlet-class>com.srk.pkg.ListarAlqGerente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAlqGerente</servlet-name>
    <url-pattern>/ListarAlqGerente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoReparaciones</display-name>
    <servlet-name>ListadoReparaciones</servlet-name>
    <servlet-class>com.srk.pkg.ListadoReparaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoReparaciones</servlet-name>
    <url-pattern>/ListadoReparaciones</url-pattern>
  </servlet-mapping>
</web-app>